<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Painel de Controle - LED</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Painel de Controle do LED</h1>

    <input type="text" id="nomeAluno" placeholder="Digite seu nome">
    <button id="ledBtn">Desligado</button>
    <p id="statusTxt">LED está desligado</p>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>